name: Build UmanCapital AAB
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Ricrea cartella Android mancante
        run: flutter create . --platforms=android
        # Questo comando crea la cartella 'android' che ti manca direttamente sul server!

      - name: Install dependencies
        run: flutter pub get

      - name: Build AAB
        run: flutter build appbundle --release
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-aab
          path: "**/build/app/outputs/bundle/release/app-release.aab"
