name: build_app
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: fix_e_ispezione
        run: |
          # Vediamo i file presenti
          ls -R
          # Ricreiamo la cartella android
          flutter create --project-name=umancapital . --platforms=android --overwrite
          # Inseriamo l'SDK nel pubspec
          sed -i '1i environment:\n  sdk: ">=3.0.0 <4.0.0"' pubspec.yaml || true
          flutter pub get

      - name: build_aab
        run: flutter build appbundle --release --no-sound-null-safety

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: app-bundle
          path: "**/build/app/outputs/bundle/release/app-release.aab"
