name: build_app
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Fix and Prep Project
        run: |
          # 1. Ricrea la cartella Android con un nome minuscolo valido (Risolve Foto be62a021)
          flutter create --project-name=umancapital . --platforms=android
          
          # 2. Inserisce l'SDK mancante nel pubspec (Risolve Foto b6847786)
          sed -i '/environment:/,/sdk:/d' pubspec.yaml || true
          echo "environment:" >> pubspec.yaml
          echo "  sdk: '>=3.10.0 <4.0.0'" >> pubspec.yaml
          
          flutter pub get

      - name: Build AAB
        run: flutter build appbundle --release --no-sound-null-safety

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: app-bundle
          path: "**/build/app/outputs/bundle/release/app-release.aab"
